In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("boletim-urna-2024-01-poa-up.csv")

In [25]:
col_list = ['NR_ZONA', 'NR_SECAO', 'NR_LOCAL_VOTACAO', 'NR_PARTIDO',
            'QT_APTOS', 'QT_COMPARECIMENTO', 'QT_ABSTENCOES', 'NR_VOTAVEL', 'QT_VOTOS']

df = df[df.columns.intersection(col_list)]

In [26]:
df

,NR_ZONA,NR_SECAO,NR_LOCAL_VOTACAO,NR_PARTIDO,QT_APTOS,QT_COMPARECIMENTO,QT_ABSTENCOES,NR_VOTAVEL,QT_VOTOS
0,111,223,1350,80,386,295,91,80000,1
1,113,405,1635,80,376,244,132,80000,1
2,111,250,1341,80,394,263,131,80000,1
3,111,270,1597,80,380,270,110,80000,1
4,113,117,1104,80,390,247,143,80000,2
...,...,...,...,...,...,...,...,...,...
2522,111,132,1562,80,303,205,98,80,1
2523,2,227,1368,80,341,236,105,80,1
2524,2,157,1090,80,330,240,90,80,1
2525,1,225,1589,80,362,267,95,80,1
2526,2,312,1791,80,320,223,97,80,1

In [9]:
df['NR_SECAO'].value_counts()

NR_SECAO
7      15
411    12
94     12
34     12
143    11
       ..
67      1
263     1
439     1
347     1
586     1
Name: count, Length: 556, dtype: int64

In [ ]:
df['NR_ZONA'].value_counts()

NR_ZONA
2      352
1      340
113    276
112    268
158    239
111    228
160    212
159    208
114    208
161    196
Name: count, dtype: int64